#left-container {
    width: 30%;
}
.row {
    margin: 10px;
}
#city-input{
    
}
#search-btn {
    margin: 5px;
}
.new-city-searched {
    padding: 15px;
    font-size: 25px;
}
#right-container {
    width: 65%;
}

h2 {
    margin: 25px;
}
h4 {
    margin: 20px;
}